<!--
 Generated template for the NewEventPage page.

 See http://ionicframework.com/docs/components/#navigation for more info on
 Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="event.title" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [(ngModel)]="event.description" name="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD MMMM YYYY" min="2018" max="2030" [(ngModel)]="event.date">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text" [(ngModel)]="event.address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input type="number" [(ngModel)]="event.price" name="price" step="0.01" min="0.01" value="0"></ion-input>
      </ion-item>

      <ion-item>
        <h2>Picture</h2>
        <button ion-button icon-left large (click)="cameraUse()">
          <ion-icon name="camera"></ion-icon>Take picture</button>
      </ion-item>


      <ion-item>
        <h2>Show image</h2>
        <div>
          <img [src]="event.image" alt="">
        </div>
      </ion-item>

      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng">
        </agm-marker>
      </agm-map>

      <ion-item>
        <button ion-button block (click)="create()">Register</button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>